
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 10px;
    row-gap: 30px;
}
.subcontainer{
    display: flex;
    gap: 20px;
}
.logInBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;

}